<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1157083F-8D0E-4062-9609-10168F86D7BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C36E0CE8-9752-43F3-8428-6B5A301BF6A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34E5959C-C05D-43EA-BB6A-D8C71ADE840F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>056C21A0-B191-44D8-A21A-E7EC9EB21A2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>772EA7F1-95AE-4EFC-8842-763736A4E13F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F936EBFF-CF6F-4538-A97E-C5DC5B65972D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BD9FCE0-0BDF-49CA-87F5-A7BB6F308BE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DEF5331-ABBF-41B6-B438-C77854CDF467</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8854898-5DD3-42FF-9D48-3011A715E88C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Pull Requests</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8854898-5DD3-42FF-9D48-3011A715E88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5099705-60B3-42EA-9BCB-F5B8065B0A44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthias Klaß</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Bitbucket Server</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bit-url</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set Bitbucket URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1157083F-8D0E-4062-9609-10168F86D7BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./setPreference.js "bitbucketUrl" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>setPreference.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C36E0CE8-9752-43F3-8428-6B5A301BF6A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./setPreference.js "bitbucketUsername" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>setPreference.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F936EBFF-CF6F-4538-A97E-C5DC5B65972D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bit-user</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set Bitbucket Username</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>772EA7F1-95AE-4EFC-8842-763736A4E13F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bit-password</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Set Bitbucket Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34E5959C-C05D-43EA-BB6A-D8C71ADE840F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./setPreference.js "bitbucketPassword" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>setPreference.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>056C21A0-B191-44D8-A21A-E7EC9EB21A2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Bitbucket</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9BD9FCE0-0BDF-49CA-87F5-A7BB6F308BE3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7DEF5331-ABBF-41B6-B438-C77854CDF467</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B5099705-60B3-42EA-9BCB-F5B8065B0A44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/browse</string>
				<key>replacestring</key>
				<string>/pull-requests</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B8854898-5DD3-42FF-9D48-3011A715E88C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>056C21A0-B191-44D8-A21A-E7EC9EB21A2E</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>1157083F-8D0E-4062-9609-10168F86D7BF</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>34E5959C-C05D-43EA-BB6A-D8C71ADE840F</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>772EA7F1-95AE-4EFC-8842-763736A4E13F</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>7DEF5331-ABBF-41B6-B438-C77854CDF467</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>9BD9FCE0-0BDF-49CA-87F5-A7BB6F308BE3</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>B5099705-60B3-42EA-9BCB-F5B8065B0A44</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>B8854898-5DD3-42FF-9D48-3011A715E88C</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>C36E0CE8-9752-43F3-8428-6B5A301BF6A0</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F936EBFF-CF6F-4538-A97E-C5DC5B65972D</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
